<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StarCine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class='cb'>
            <div class="itens">
                <h1 class="title">StarCine</h1>
                <div class="">
                    <p></p>
                </div>
            </div>

        </div>
        <hr>
    </header>

    <footer>

    </footer>
</body>
</html>