body{
    background-color: rgb(54, 53, 53);
}

header{
    background-color: black;
    height: 155px;
}

.itens{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: larger;
}

.web{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 50px;
}

.web_a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.title{
    color: red;
}

/*MOVIES*/

.catalog{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
   gap: 40px;
}

.movie{
    display: flex;
    justify-content: center;
    gap: 100px;
}

img{
    width: 225px;
    height: 400px;
}


/*Footer*/
.c{
    color: white;
    font-size: medium;
}