<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StarCine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <header>
        <hr>
        <div class='cb'>
            <div class="itens">
                <h1 class="title">StarCine</h1>
            </div>
            <hr>
            <div class="web">
                <a href="/teste" class="web_a">Teste</a>
                <a href="/teste" class="web_a">Teste</a>
                <a href="/" class="web_a">Movies</a>
                <a href="/teste" class="web_a">Teste</a>
                <a href="/teste" class="web_a">Teste</a>
            </div>
        </div>
        <hr>
    </header>

    <div class="catalog">
        <div class="movie">
            <img src="{{url_for('static', filename='img/the_dark_knight.jpg')}}" alt="the_dark_knight">
            <img src="{{url_for('static', filename='img/The_Godfather.webp')}}" alt="The_Godfather">
            <img src="{{url_for('static', filename='img/Toy_story.webp')}}" alt="Toy_story">
            <img src="{{url_for('static', filename='img/The_Matrix.png')}}" alt="The_Matrix">
        </div>
        <div class="movie">
            <img src="{{url_for('static', filename='img/pulp_fiction.jpg')}}" alt="pulp_fiction">
            <img src="{{url_for('static', filename='img/snow_white_and_the_seven_dwarfs.jpg')}}" alt="snow_white_and_the_seven_dwarfs">
            <img src="{{url_for('static', filename='img/psycho.webp')}}" alt="psycho">
            <img src="{{url_for('static', filename='img/jaws.jpg')}}" alt="jaws">
        </div>
    </div>

    <hr>
    <footer>
       <p class="c">&copy;Fecap2025</p>
    </footer>
</body>
</html>