<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StarCine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <header>
        <hr>
        <div class='cb'>
            <div class="itens">
                <h1 class="title">StarCine</h1>
            </div>
            <hr>
            <div class="web">
                <a href="/teste" class="web_a">Teste</a>
                <a href="/teste" class="web_a">Teste</a>
                <a href="/" class="web_a">Movies</a>
                <a href="/teste" class="web_a">Teste</a>
                <a href="/teste" class="web_a">Teste</a>
            </div>
        </div>
        <hr>
    </header>

    <div class="catalog">
        <div class="movie">

            <div class="box">
                <div class="content">
                    <img src="{{url_for('static', filename='img/the_dark_knight.jpg')}}" alt="the_dark_knight">
                    <p>THE DARK KNIGHT</p>
                </div>
            </div>

            <div class="box">
                <div class="content">
                    <img src="{{url_for('static', filename='img/The_Godfather.webp')}}" alt="The_Godfather">
                    <p>THE GODFATHER</p>
                </div>
            </div>

            <div class="box">
                <div class="content">
                    <img src="{{url_for('static', filename='img/Toy_story.webp')}}" alt="Toy_story">
                    <p>TOY STORY</p>
                </div>
            </div>
            
            <div class="box">
                <div class="content">
                    <img src="{{url_for('static', filename='img/The_Matrix.png')}}" alt="The_Matrix">
                    <p>MATRIX</p>
                </div>
            </div>
        </div>

        <div class="movie">
            <div class="box">
                <div class="content">
                    <img src="{{url_for('static', filename='img/pulp_fiction.jpg')}}" alt="pulp_fiction">
                    <p>PULP FICTION</p>
                </div>
            </div>

            <div class="box">
                <div class="content">
                    <img src="{{url_for('static', filename='img/snow_white_and_the_seven_dwarfs.jpg')}}" alt="snow_white_and_the_seven_dwarfs">
                    <p>SNOW WHITE</p>
                </div>
            </div>

            <div class="box">
                <div class="content">
                    <img src="{{url_for('static', filename='img/psycho.webp')}}" alt="psycho">
                    <p>PSYCHO</p>
                </div>
            </div>
           
            <div class="box">
                <div class="content">
                    <img src="{{url_for('static', filename='img/jaws.jpg')}}" alt="jaws">
                    <p>TJAWS</p>
                </div>
            </div>
        </div>

        <div class="movie">
            <div class="box">
                <div class="content">
                    <img src="{{url_for('static', filename='img/a_space_odyssey.jpg')}}" alt="a_space_odyssey">
                    <p>A SPACE ODYSSEY</p>
                </div>
            </div>

            <div class="box">
                <div class="content">
                    <img src="{{url_for('static', filename='img/american_pie.jpg')}}" alt="american_pie">
                    <p>AMERICAN PIE</p>
                </div>
            </div>

            <div class="box">
                <div class="content">
                    <img src="{{url_for('static', filename='img/avatar.jpg')}}" alt=" avatar">
                    <p>AVATAR</p>
                </div>
            </div>
           
            <div class="box">
                <div class="content">
                    <img src="{{url_for('static', filename='img/casablanca.webp')}}" alt="casablanca">
                    <p>CASABLANCA</p>
                </div>
            </div>
        </div>

        <div class="movie">
            <div class="box">
                <div class="content">
                    <img src="{{url_for('static', filename='img/et.jpg')}}" alt="et">
                    <p>E.T.</p>
                </div>
            </div>

            <div class="box">
                <div class="content">
                    <img src="{{url_for('static', filename='img/gone_with_the_wind.jpg')}}" alt=" gone_with_the_wind">
                    <p>GONE WITH THE WIND</p>
                </div>
            </div>

            <div class="box">
                <div class="content">
                    <img src="{{url_for('static', filename='img/singing_in_the_rain.jpg')}}" alt=" singing_in_the_rain">
                    <p>SINGIN' IN THE RAIN</p>
                </div>
            </div>
           
            <div class="box">
                <div class="content">
                    <img src="{{url_for('static', filename='img/star_wars_a_new_hope.jpg')}}" alt="star_wars_a_new_hope">
                    <p>STAR WARS</p>
                </div>
            </div>
    </div>
    
    <div class="movie">
        <div class="box">
           <div div="content">
                <img src="{{url_for('static', filename='img/the_birth_of_a_nation.jpg')}}" alt="the_birth_of_a_nation">
                <p>THE BIRTH OF A NATION</p>
           </div>
       </div>
   </div>
</div>

    <hr>
    <footer>
       <p class="c">&copy;Fecap2025</p>
    </footer>
</body>
</html>